<%= render "layouts/navbar" %>

<div class="container">


  <h1>Editing Vehicle</h1>

  <%= render 'form', vehicle: @vehicle %>

  <%= link_to 'Show', user_vehicle_path %> |
  <%= link_to 'Back', user_vehicles_path %>

</div>
