<p id="notice"><%= notice %></p>

<h1>All Vehicles</h1>

<table class="table table-striped table-responsive-xl">
  <thead>
    <tr>
      <th>ID</th>
      <th>Patent</th>
      <th>User</th>
      <th>Type</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Color</th>
      <th>Status</th>
      <th>Vehicle size</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @vehicles %>

  </tbody>
</table>

<br>

<div id="respuesta">

</div>

<h2>Ingresar un Nuevo Vehículo</h2>
<%= render 'form', vehicle: @vehicle %>

<script>

  $(window).click(function(){
    $.ajax({
      url: '<%= user_vehicles_path(current_user) %>',
      type: 'POST',
      dataType: 'script',
      data: {vehicle: {patent: 'XXXX-XX', user_id: 10, vehicle_size_id: 2}}
    })
    .done(function() {
      console.log("success");
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });

  })


</script>
