.template-main {
    width: 100%;
}

.template-component-menu-default {
    text-align: right;
}

.template-component-menu-default>.sf-menu>li>a {
    line-height: 100%;
}

.navbar {
    margin-bottom: 0px;
}
