.template-main {
    width: 100%;
}

.template-component-menu-default {
    text-align: right;
}

.template-component-menu-default>.sf-menu>li>a {
    line-height: 100%;
}

.navbar {
    margin-bottom: 0px;
}

#content-title {
  display: inline;
}

#vehicle-cards {
  flex-wrap: inherit;
}

#main-content {
  margin-top: 1%;
  float:left;
}

#washes-table {
  width: 200%;
}
